{{> navbar}}


<div class="card text-center mt-5">
    <div class="card-header">
        FARIKS 
    </div>
    <div class="card-body">
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Ismingizni kiriting</label>
                <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Fariks klubiga hush kelisiz</div>
            </div>
            <input type="submit" class="btn btn-primary" value="Yuborish" />
        </form>
    </div>
    <div class="card-footer text-muted">
        fariks.uz
    </div>
</div>