<div class="container">
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <center>
                <a href="/" class="btn btn-primary mb-3">Ismni qayta kiritish</a><br>
                <img src="/export/image.jpg" alt="Fariks" class="img-fluid" width="1920" height="1080">

                <a href="/export/image.jpg" class="btn btn-success mt-3 mb-5" download>Yuklab olish</a>
            </center>
        </div>
    </div>
</div>